<!DOCTYPE html>
<link rel="icon" type="image/png" href="../FAV/favicon-48x48.png" sizes="48x48" />
<link rel="icon" type="image/svg+xml" href="../FAV/favicon.svg" />
<link rel="shortcut icon" href="../FAV/favicon.ico" />
<link rel="apple-touch-icon" sizes="180x180" href="../FAV/apple-touch-icon.png" />
<link rel="manifest" href="../FAV/site.webmanifest" />
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}
  {% include analytics.html %}
  
  <body>

    {%- include header.html -%}

    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        {{ content }}
      </div>
    </main>

    {%- include footer.html -%}

  </body>

</html>